.center {
  margin: auto;
}

.centerText {
  text-align: center;
}

.imgSize {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid black;
  user-select: none;
}

.swipe {
  width: 15%;
  filter: invert(0.65);
}

.bio td {
  text-align: justify;
  padding: 15px;
}

#aboutContainer {
  padding: 0 5px 10px 5px;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 70vh;
  color: #696969;
}

#aboutContainer table h1 {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 401px) {
  table h1 {
    font-size: 42px;
  }
}

@media only screen and (min-width: 701px) {
  .bio {
    text-align: left;
  }

  .swipe {
    width: 150px;
    height: 150px;
  }

  #aboutContainer {
    min-height: 100vh;
  }

  #aboutContainer table {
    margin-left: 15px;
    margin-right: 5px;
  }
}
