@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

.spacing {
  /*margin: 10px 15px;*/
  text-align: center;
}

.borderStyle {
  margin: auto;
  border: none;
}

#github {
  border-radius: 3px;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  /*background: #2980b9;*/
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
  border: 1px solid black;
  filter: invert(1);

  /*filter: invert(1);*/
  /*border: 1px solid black;*/
  background-color: #f2f2f2;
}

#github:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*#launch {
	border-radius: 5px;
	position: relative;
	vertical-align: top;
	width: 100%;
	height: 50px;
	padding: 0 5px;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #27ae60;
	border: 0;
	border-bottom: 2px solid #219d55;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #219d55;
	box-shadow: inset 0 -2px #219d55;
}

#launch:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

/*@media only screen and (min-width: 701px) {
	.borderStyle {
		margin-left: 0;
	}

	.spacing {
		margin-left: 0;
	}
}*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  min-width: 140px;
  margin: 0 7px;
  /*background-color: blue;*/
}

.container > .launch:hover {
  filter: invert(0.2);
}

.container > .github {
  filter: invert(1);
}

.container > .github:hover {
  filter: invert(0.8);
}

.container a {
  /*border-bottom: 1px solid;*/
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
  /*border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(230,230,230);*/
  margin: auto;
}

.btn {
  color: #696969;
  cursor: pointer;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 32px;
  font-weight: 300;
  /*font-style: italic;*/
  /*line-height: 45px;*/
  /*margin: 0 0 2em;*/
  max-width: 150px;
  position: relative;
  /*text-decoration: none;*/
  text-transform: uppercase;
  width: 100%;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  border: 1px solid #696969;
  background-color: #f2f2f2;
  border-radius: 3px;
}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 2.5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: ' ';
  display: block;
  /*padding: 5px 0;*/
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: black;
  border: black;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/*@media only screen and (min-width: 701px) {
  .container {
    min-width: 150px;
  }
}*/
