@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');

.green {
  background-color: rgb(16, 172, 132);
}

.blue {
  background-color: rgb(10, 189, 227);
}

.purple {
  background-color: rgb(95, 39, 205);
}

.orange {
  background-color: rgb(255, 159, 67);
}

.red {
  background-color: rgb(238, 82, 83);
}

.yellow {
  background-color: rgb(254, 202, 87);
}

.nav-col {
  text-align: center;
  margin: 0 auto;
}

#carousel-container,
.carouselBottom,
.carouselTop {
  margin: 0;
}

.carouselBottom {
  position: fixed;
  top: calc(100vh - 80px);
}

.carouselBottom div {
  height: 60px;
}

.carouselBottom img {
  margin: 10px auto;
  margin-bottom: 0;
}

.carouselBottom div:hover {
  cursor: pointer;
}

.picSize {
  width: 60px;
  height: 60px;
}

.slick-vertical .slick-slide {
  border: none;
  background-color: #f2f2f2;
}

.carouselBottom div {
  height: 80px;
}

/*current card text*/
.slick-vertical.slick-initialized
  > div
  > div
  > div.slick-slide.slick-active.slick-current {
  color: #f2f2f2;
  border-left: none;
}

/*current card image*/
.slick-vertical.slick-initialized
  > div
  > div
  > div.slick-slide.slick-active.slick-current
  img {
  filter: invert(0.92);
}

#carousel-container #pageNumber {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-align: center;
  width: 100vw;
  color: #a4a4a4;
}

@media only screen and (max-width: 700px) {
  .hide {
    display: none;
  }
}

@media only screen and (min-width: 351px) {
  .carouselBottom {
    height: 50%;
  }

  .carouselBottom h3 {
    margin: 0 2.5px;
    font-size: 22px;
  }

  .content-container {
    overflow-y: scroll;
  }

  .nav-col {
    border-top: none;
  }
}

@media only screen and (min-width: 701px) {
  .content-col,
  .nav-col {
    display: inline-block;
    margin: 0;
  }

  #carousel-container {
    direction: rtl;
    margin: auto;
  }

  #carousel-container #pageNumber {
    background-color: #f2f2f2;
    direction: ltr;
    text-align: center;
    font-weight: 100;
    width: 75%;
  }

  .slick-slider {
    max-height: none;
    min-height: none;
    height: none;
  }

  .content-col {
    width: 75%;
    height: 100vh;
  }

  .nav-col {
    width: 25%;
  }

  .carouselBottom h3 {
    margin-top: 10px;
  }

  .carouselBottom {
    border-top: none;
    top: 0;
  }

  .carouselBottom div {
    height: 25vh;
  }

  .picSize {
    width: 100px;
    height: 100px;
  }
}
