@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');

.carouselBottom {
  position: fixed;
  top: calc(100vh - 80px);
}

.picSize {
  width: 60px;
  height: 60px;
}

/*Colors*/
.green {
  background-color: rgb(16, 172, 132);
}

.blue {
  background-color: rgb(10, 189, 227);
}

.purple {
  background-color: rgb(95, 39, 205);
}

.orange {
  background-color: rgb(255, 159, 67);
}

.red {
  background-color: rgb(238, 82, 83);
}

.yellow {
  background-color: rgb(254, 202, 87);
}

.nav-col {
  text-align: center;
  margin: 0 auto;
}

.carouselBottom div {
  height: 80px;
}

.carouselBottom img {
  /*margin: calc(100vh / 50) auto 0;*/
  margin: 15px auto 0;
  /*margin-top: calc(100vh / 50);*/
  /*margin-bottom: 0;*/
}

.carouselBottom div:hover {
  cursor: pointer;
}

.slick-vertical .slick-slide {
  border: none;
  background-color: #f2f2f2;
}

/*current card text*/
.slick-vertical.slick-initialized
  > div
  > div
  > div.slick-slide.slick-active.slick-current {
  color: #f2f2f2;
  border-left: none;
}

/*current card image*/
.slick-vertical.slick-initialized
  > div
  > div
  > div.slick-slide.slick-active.slick-current
  img {
  filter: invert(0.92);
}

#overlay {
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: fixed;
  z-index: 999;
  animation: fade-out 2.5s forwards;
  animation-delay: 3s;
  pointer-events: none;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 20vw;
}

#overlay img {
  position: absolute;
  /*bottom: 0;*/
  animation: rotate 3s forwards;
  left: 40vw;
  animation-delay: 1.5s;
}

.swipe {
  display: inline-block;
  width: 25%;
  font-weight: bold;
  filter: invert(0.65);
}

@keyframes rotate {
  /*  0% {
    left: 10vw;
  }
  10% {
    left: 5vw;
    transform: rotate(-5deg);
  }
  25% {
    left: 10vw;
    transform: rotate(-5deg);
  }
  75% {
    left: 60vw;
    transform: rotate(5deg);
  }
  90% {
    left: 10vw;
    transform: rotate(-5deg);
  }
  100% {
    left: 40vw;
    transform: rotate(0deg);
  }*/
  33% {
    left: 7vw;
    transform: rotate(-15deg);
  }
  66% {
    left: 62vw;
    transform: rotate(15deg);
  }
  100% {
    left: 35vw;
    /*transform: rotate(-10deg);*/
  }
}

@keyframes fade-out {
  /* You could think of as "step 1" */
  0% {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  /* You could think of as "step 2" */
  85% {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  100% {
    background: rgba(0, 0, 0, 0);
    opacity: 0;
  }
}

#page-interaction h2 {
  color: #808080;
  font-style: italic;
}

#carousel-container,
.carouselBottom,
.carouselTop {
  margin: 0;
}

#carousel-container #pageNumber {
  font-family: 'Roboto Slab', serif;
  background-color: #f2f2f2;
  font-weight: 300;
  text-align: center;
  width: 100vw;
  color: #a4a4a4;
}

@media only screen and (min-width: 351px) {
  .carouselBottom {
    height: 50%;
  }

  /*.content-container {
    overflow-y: scroll;
  }*/

  .carouselBottom h3 {
    margin: 0 2.5px;
    font-size: 22px;
  }

  #page-interaction h2 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 501px) {
  .swipe {
    width: 20%;
  }
}

@media only screen and (min-width: 601px) {
  .swipe {
    width: 15%;
  }

  #page-interaction h2 {
    font-size: 32px;
  }

  @keyframes rotate {
    33% {
      left: 7vw;
      transform: rotate(-15deg);
    }
    66% {
      left: 62vw;
      transform: rotate(15deg);
    }
    100% {
      left: 35vw;
      /*transform: rotate(-10deg);*/
    }
  }
}

@media only screen and (min-width: 701px) {
  .content-col,
  .nav-col {
    display: inline-block;
    margin: 0;
  }

  .carouselBottom {
    top: 0;
  }

  .picSize {
    width: 100px;
    height: 100px;
  }

  .slick-slider {
    max-height: none;
    /*min-height: none;
    height: none;*/
  }

  .content-col {
    width: 75%;
    height: 100vh;
  }

  .nav-col {
    width: 25%;
  }

  .carouselBottom div {
    height: 25vh;
  }

  .carouselBottom h3 {
    margin-top: 10px;
  }

  .carouselBottom img {
    margin: calc(100vh / 50) auto 0;
  }

  #carousel-container {
    direction: rtl;
  }

  #carousel-container #pageNumber {
    direction: ltr;
    text-align: center;
    font-weight: 100;
    width: 75%;
  }

  #page-interaction h2 {
    /*border: 2px solid white;*/
    text-decoration: underline;
  }
}

@media only screen and (max-width: 700px) {
  .hide {
    display: none;
  }
}
