#contactContainer {
  padding: 0 5px 5px 5px;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 70vh;
  color: #696969;
  width: 100%;
}

#contactContainer h2 {
  font-size: 36px;
  margin: 0;
}

.logoSize {
  height: 32px;
  width: 32px;
  padding-right: 5px;
}

#contactContent ul {
  /*display: inline-block;*/
  margin: 0;
  margin-left: 0;
  /*width: 40%;*/
  list-style-type: none;
  /*vertical-align: top;*/
  padding: 0;
  text-align: left;
}

.contact-description li {
  text-align: center;
  font-style: italic;
}

#contactContent li a {
  text-decoration: none;
}

#contactContent .social-media li:hover {
  text-decoration: underline;
  font-size: 22px;
}

#contactContent a,
.location-phone img,
.inline-mobile {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 401px) {
  #contactContainer {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 400px) {
  #contact-head > img.hide-mobile {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #contactContent ul {
    margin-left: 15px;
  }

  #contactContent li {
    line-height: 2.7;
    font-size: 20px;
  }
}

@media only screen and (min-width: 451px) {
  #contactContent ul {
    display: inline-block;
    margin: 0;
    margin-left: 0;
    width: 40%;
    list-style-type: none;
    vertical-align: top;
    padding: 0;
  }

  #contactContent li {
    text-align: left;
    width: 100%;
    padding: 5px 0;
  }

  #contactContent img {
    display: inline-block;
  }
}

@media only screen and (min-width: 701px) {
  #contactContainer {
    min-height: 100vh;
    padding: 0 50px 10px 50px;
    /*margin-left: 50px;
    margin-right: 50px;*/
    /*padding: 0;*/
  }

  #contactContainer h2 {
    font-size: 42px;
    text-align: left;
    display: inline-block;
    float: left;
  }

  .contact-icon {
    float: left;
  }
  #contact-head {
    display: block;
  }

  #contactContent {
    text-align: start;
    clear: both;
  }
}
