#projectTempContainer {
  padding: 0 5px 5px 5px;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 70vh;
  color: #696969;
  width: 100%;
}

#projectTempContainer table {
  padding: 0px;
}

#projectTempContainer .buttons {
  width: 100%;
}

#projectTempContainer h2 {
  font-size: 36px;
  margin: 0;
}

#projectTempContainer h3 {
  font-size: 24px;
  margin: 0;
}

.iconSize {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  filter: invert(0.465);
}

.inline-block {
  display: inline-block;
  padding: 0;
}

.invert {
  filter: invert(1);
}

.screenshot-img {
  height: 200px;
  border-radius: 3px;
  margin: 5px 2.5px;
}

.screenshots {
  text-align: center;
  margin: 0;
  width: 100%;
}

.slideTest {
  width: 50%;
  background-color: yellow;
}

#screenshot-carousel {
  margin: 10px auto 30px;
}

.description {
  text-align: justify;
  padding: 0 15px;
}

.bottom-table {
  transform: scale(0.8);
}

.extraContent {
  font-style: italic;
  font-size: 12px;
}

@media only screen and (max-width: 400px) {
  .hide-mobile {
    display: none;
  }

  .title > img.hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 401px) {
  #projectTempContainer {
    min-height: 100vh;
  }

  .iconSize {
    width: 60px;
    height: 63px;
  }

  .extraContent {
    padding: 0;
    margin: 0;
  }

  .hide-desktop {
    display: none;
  }

  .screenshot-img {
    height: 300px;
  }
}

@media only screen and (min-width: 501px) {
  .screenshot-img {
    height: 250px;
  }
}

@media only screen and (min-width: 701px) {
  #projectTempContainer {
    min-height: 100vh;
    padding: 0 5px 10px 5px;
  }

  #projectTempContainer h2 {
    font-size: 42px;
  }

  #projectTempContainer > table {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
  }

  #projectTempContainer h3 {
    font-size: 24px;
    margin: 0;
  }

  .iconSize {
    margin-top: 10px;
  }

  .extraContent {
    font-size: 16px;
  }

  .screenshots {
    text-align: left;
    white-space: nowrap;
  }

  .screenshot-img {
    margin: 5px 5px;
    height: 300px;
  }

  .screenshot-img:first-child {
    margin-left: 0;
  }

  .description {
    text-align: justify;
    padding: 0;
  }

  .title {
    padding: 0;
  }

  .title h2 {
    display: inline-block;
    float: left;
  }

  .title > img {
    float: left;
  }

  #screenshot-carousel {
    width: 55%;
  }
}

@media only screen and (min-width: 901px) {
  .screenshot-img {
    height: 275px;
  }
}

@media only screen and (min-width: 901px) {
  .screenshot-img {
    height: 300px;
  }
}
