.screenshot-slider {
  width: 50%;
}

.screenshot-slider,
.screenshot-slider .screenshot-img {
  margin: auto;
}

.slick-next:before,
.slick-prev:before {
  color: var(--color-dark-grey);
}

@media only screen and (min-width: 401px) {
  .screenshot-slider {
    width: 65%;
  }
}

@media only screen and (min-width: 501px) {
  .screenshot-slider {
    width: 45%;
  }
}

@media only screen and (min-width: 701px) {
  .screenshot-slider {
    width: 85%;
  }
}
