.techLogo {
  display: inline-block;
  height: 50px;
  width: calc(100% * (1 / 4) - 20px - 10px);
  padding-top: 7.5px;
  margin: 0 5px 0 0;
}

.technology {
  text-align: center;
}

@media only screen and (min-width: 401px) {
  .techLogo {
    width: calc(100% * (1 / 4) - 40px - 1px);
  }
}

@media only screen and (min-width: 501px) {
  .techLogo {
    width: calc(100% * (1 / 4) - 55px - 15px);
  }
}

@media only screen and (min-width: 601px) {
  .techLogo {
    width: calc(100% * (1 / 4) - 55px - 30px);
  }
}

@media only screen and (min-width: 701px) {
  .techLogo {
    height: 40px;
    width: calc(100% * (1 / 9));
    min-width: calc(100% * (1 / 9) - 30px);
    padding: 0;
  }

  .technology {
    text-align: left;
    margin-left: 0;
  }
}

@media only screen and (min-width: 901px) {
  .techLogo {
    min-width: calc(100% * (1 / 9) - 15px);
  }
}
